biopython==1.78
colorama==0.4.4
commonmark==0.9.1
dataclasses==0.7; python_version >= "3.6" and python_version < "3.7"
joblib==0.16.0
numpy==1.19.2
pandas==1.1.2
pygments==2.7.2
python-dateutil==2.8.1
pytz==2020.1
regex==2020.9.27
rich==7.1.0
six==1.15.0
tqdm==4.50.0
typing-extensions==3.7.4.3
