atomicwrites==1.4.0; sys_platform == "win32"
attrs==20.2.0
biopython==1.78
colorama==0.4.4
commonmark==0.9.1
dataclasses==0.7; python_version >= "3.6" and python_version < "3.7"
importlib-metadata==2.0.0; python_version < "3.8"
iniconfig==1.1.1
joblib==0.17.0
numpy==1.19.2
packaging==20.7
pandas==1.1.3
pluggy==0.13.1
py==1.9.0
pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.23
rich==9.1.0
six==1.15.0
toml==0.10.1
tqdm==4.51.0
typing-extensions==3.7.4.3
zipp==3.4.0; python_version < "3.8"
